@{
  Layout = "_Layout";
}

@model DoctorsOffice.Models.Doctor;

<h1>Patient Tracker</h1>
<h2>Assign a specialty to this doctor</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.DoctorId)
  @Html.Label("Select a Specialty:")
  @Html.DropDownList("SpecialtyID")
  <input type="submit" value="Add Specialty" />
}