@{
  Layout = "_Layout";
}

@model DoctorsOffice.Models.Doctor;

<h2>Assign a specialty to this doctor</h2>
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.DoctorId)
  @Html.Label("Select a Specialty:")
  @Html.DropDownList("SpecialtyId", "Description")
  <input type="submit" value="Add Specialty"/>
}