@{
  Layout = "_Layout";
}

@model DoctorsOffice.Models.Doctor

<h1>Patient Tracker</h1>
<h3>Are you sure you want to delete @Model.FirstName @Model.LastName's records?</h3>

@using (Html.BeginForm())
{
  <button type="submit" value="Yes" class="btn btn-light"> Yes</button>
}

<button class="btn btn-light">@Html.ActionLink("No", "Details", new { id = Model.DoctorId, @class = "button-link" })</button>