@{
  Layout = "_Layout";
}

@model DoctorsOffice.Models.Specialty;

<h2>Create a new Specialty</h2>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description)
  <input type="submit" value="Create Specialty" />
}